infra/n8n/wf_ecomail_to_bigquery.json
{
  "name": "wf_ecomail_to_bigquery",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Every 6 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1280, 720]
    },

    {
      "parameters": {
        "url": "https://api2.ecomailapp.cz/campaigns/all-stats/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000010",
      "name": "GET campaigns/all-stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1040, 480],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qIhwM9YqFfztKKuy",
          "name": "Ecomail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stats = $input.first().json.stats;\nconst CLIENT_ID = 'manami';\nconst INGESTED_AT = new Date().toISOString();\n\nfunction parseEcomailDate(raw) {\n  if (!raw) return null;\n  const s = String(raw);\n  if (s.length === 14) {\n    return `${s.slice(0,4)}-${s.slice(4,6)}-${s.slice(6,8)}T${s.slice(8,10)}:${s.slice(10,12)}:${s.slice(12,14)}Z`;\n  }\n  return s;\n}\n\nconst num = v => (v === null || v === undefined || v === '' ? 0 : Number(v));\n\nreturn Object.entries(stats || {}).map(([campaignId, data]) => {\n  const row = {\n    campaign_id:       String(campaignId),\n    title:             data.title ?? '',\n    sent_at:           parseEcomailDate(data.sent_at),\n    inject:            num(data.inject),\n    delivery:          num(data.delivery),\n    delivery_rate:     num(data.delivery_rate),\n    open:              num(data.open),\n    total_open:        num(data.total_open),\n    open_rate:         num(data.open_rate),\n    click:             num(data.click),\n    total_click:       num(data.total_click),\n    click_rate:        num(data.click_rate),\n    bounce:            num(data.bounce),\n    bounce_rate:       num(data.bounce_rate),\n    spam:              num(data.spam),\n    spam_rate:         num(data.spam_rate),\n    unsub:             num(data.unsub),\n    unsub_rate:        num(data.unsub_rate),\n    conversions:       num(data.conversions),\n    conversions_value: num(data.conversions_value),\n    currency:          'CZK'\n  };\n  return {\n    json: {\n      client_id:    CLIENT_ID,\n      ingested_at:  INGESTED_AT,\n      payload_json: JSON.stringify(data),\n      ...row\n    }\n  };\n});\n"
      },
      "id": "a1000000-0000-0000-0000-000000000011",
      "name": "Transform campaigns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 480]
    },
    {
      "parameters": {
        "operation": "insert",
        "projectId": {
          "__rl": true,
          "value": "oneeighty-warehouse",
          "mode": "list",
          "cachedResultName": "oneeighty-warehouse"
        },
        "datasetId": {
          "__rl": true,
          "value": "raw",
          "mode": "list",
          "cachedResultName": "raw"
        },
        "tableId": {
          "__rl": true,
          "value": "raw_ecomail_campaigns",
          "mode": "list",
          "cachedResultName": "raw_ecomail_campaigns"
        },
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000012",
      "name": "BQ: insert campaigns",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [-560, 480]
    },

    {
      "parameters": {
        "url": "https://api2.ecomailapp.cz/pipelines",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000020",
      "name": "GET pipelines",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1040, 720],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qIhwM9YqFfztKKuy",
          "name": "Ecomail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items\n  .map(i => i.json)\n  .filter(p => p !== null && typeof p === 'object' && p.id !== undefined)\n  .map(p => ({\n    json: {\n      pipeline_id: String(p.id),\n      list_id: String(p.list_id ?? ''),\n      name: p.name ?? '',\n      created_at: p.created_at ?? '',\n      updated_at: p.updated_at ?? ''\n    }\n  }));\n"
      },
      "id": "a1000000-0000-0000-0000-000000000021",
      "name": "Extract pipeline IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 720]
    },
    {
      "parameters": {
        "url": "=https://api2.ecomailapp.cz/pipelines/{{ $json.pipeline_id }}/stats",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000022",
      "name": "GET pipeline stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-560, 720],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qIhwM9YqFfztKKuy",
          "name": "Ecomail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst num = v => (v === null || v === undefined || v === '' ? 0 : Number(v));\n\nreturn items.map(item => {\n  const s = item.json.stats ?? item.json;\n  return {\n    json: {\n      pipeline_id:         String(s.pipeline_id ?? ''),\n      triggered:           num(s.triggered),\n      active:              num(s.active),\n      ended:               num(s.ended),\n      send:                num(s.send),\n      inject:              num(s.inject),\n      open:                num(s.open),\n      total_open:          num(s.total_open),\n      open_rate:           num(s.open_rate),\n      click:               num(s.click),\n      total_click:         num(s.total_click),\n      click_rate:          num(s.click_rate),\n      ctr:                 num(s.ctr),\n      bounce:              num(s.bounce),\n      bounce_rate:         num(s.bounce_rate),\n      soft_bounce:         num(s.soft_bounce),\n      hard_bounce:         num(s.hard_bounce),\n      spam:                num(s.spam),\n      unsub:               num(s.unsub),\n      delivery_rate:       num(s.delivery_rate),\n      conversions:         num(s.conversions),\n      conversions_value:   num(s.conversions_value),\n      conversions_average: num(s.conversions_average),\n      conversionrate:      num(s.conversionrate)\n    }\n  };\n});\n"
      },
      "id": "a1000000-0000-0000-0000-000000000023",
      "name": "Transform pipeline stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 720]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const CLIENT_ID = 'manami';\nconst INGESTED_AT = new Date().toISOString();\nconst SNAPSHOT_DATE = INGESTED_AT.slice(0, 10);\n\nconst statsItem = $input.item.json;\nconst pipelineId = String(statsItem.pipeline_id ?? '');\n\nconst allPipelineItems = $('Extract pipeline IDs').all();\nconst pipelineInfo = allPipelineItems.find(\n  i => String(i.json.pipeline_id) === pipelineId\n)?.json ?? {};\n\nconst merged = {\n  pipeline_id:         pipelineId,\n  list_id:             pipelineInfo.list_id ?? '',\n  name:                pipelineInfo.name ?? '',\n  created_at:          pipelineInfo.created_at || null,\n  updated_at:          pipelineInfo.updated_at || null,\n  metric_type:         'cumulative',\n  triggered:           statsItem.triggered ?? 0,\n  active:              statsItem.active ?? 0,\n  ended:               statsItem.ended ?? 0,\n  send:                statsItem.send ?? 0,\n  inject:              statsItem.inject ?? 0,\n  open:                statsItem.open ?? 0,\n  total_open:          statsItem.total_open ?? 0,\n  open_rate:           statsItem.open_rate ?? 0,\n  click:               statsItem.click ?? 0,\n  total_click:         statsItem.total_click ?? 0,\n  click_rate:          statsItem.click_rate ?? 0,\n  ctr:                 statsItem.ctr ?? 0,\n  bounce:              statsItem.bounce ?? 0,\n  bounce_rate:         statsItem.bounce_rate ?? 0,\n  soft_bounce:         statsItem.soft_bounce ?? 0,\n  hard_bounce:         statsItem.hard_bounce ?? 0,\n  spam:                statsItem.spam ?? 0,\n  unsub:               statsItem.unsub ?? 0,\n  delivery_rate:       statsItem.delivery_rate ?? 0,\n  conversions:         statsItem.conversions ?? 0,\n  conversions_value:   statsItem.conversions_value ?? 0,\n  conversions_average: statsItem.conversions_average ?? 0,\n  conversionrate:      statsItem.conversionrate ?? 0\n};\n\nreturn {\n  client_id:     CLIENT_ID,\n  ingested_at:   INGESTED_AT,\n  snapshot_date: SNAPSHOT_DATE,\n  ...merged,\n  payload_json:  JSON.stringify({ pipeline: pipelineInfo, stats: statsItem })\n};\n"
      },
      "id": "a1000000-0000-0000-0000-000000000024",
      "name": "Merge pipeline info + stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-80, 720]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1000000-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.pipeline_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000025",
      "name": "Filter empty pipeline_id",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [160, 720]
    },
    {
      "parameters": {
        "operation": "insert",
        "projectId": {
          "__rl": true,
          "value": "oneeighty-warehouse",
          "mode": "list",
          "cachedResultName": "oneeighty-warehouse"
        },
        "datasetId": {
          "__rl": true,
          "value": "raw",
          "mode": "list",
          "cachedResultName": "raw"
        },
        "tableId": {
          "__rl": true,
          "value": "raw_ecomail_automations",
          "mode": "list",
          "cachedResultName": "raw_ecomail_automations"
        },
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000026",
      "name": "BQ: insert automations",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [400, 720]
    },

    {
      "parameters": {
        "url": "https://api2.ecomailapp.cz/lists",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000030",
      "name": "GET lists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1040, 960],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qIhwM9YqFfztKKuy",
          "name": "Ecomail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst lists = items\n  .map(i => i.json)\n  .filter(item =>\n    item !== null &&\n    typeof item === 'object' &&\n    !Array.isArray(item) &&\n    item.id !== undefined\n  );\n\nreturn lists.map(list => ({\n  json: {\n    list_id: String(list.id),\n    list_name: list.name ?? ''\n  }\n}));\n"
      },
      "id": "a1000000-0000-0000-0000-000000000031",
      "name": "Extract list IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 960]
    },
    {
      "parameters": {
        "url": "=https://api2.ecomailapp.cz/lists/{{ $json.list_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000032",
      "name": "GET list detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-560, 960],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qIhwM9YqFfztKKuy",
          "name": "Ecomail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const CLIENT_ID = 'manami';\nconst INGESTED_AT = new Date().toISOString();\nconst SNAPSHOT_DATE = INGESTED_AT.slice(0, 10);\nconst num = v => (v === null || v === undefined || v === '' ? 0 : Number(v));\n\nreturn $input.all().map(item => {\n  const d    = item.json.list ?? {};\n  const subs = item.json.subscribers ?? {};\n\n  const row = {\n    list_id:            String(d.id ?? ''),\n    list_name:          d.name ?? '',\n    active_subscribers: num(d.active_subscribers),\n    subscribed:         num(subs.subscribed),\n    unsubscribed:       num(subs.unsubscribed),\n    hard_bounced:       num(subs.hard_bounced),\n    soft_bounced:       num(subs.soft_bounced),\n    complained:         num(subs.complained),\n    unconfirmed:        num(subs.unconfirmed),\n    unknown:            num(subs.unknown),\n    currency:           d.settings?.currency ?? '',\n    locale:             d.settings?.locale ?? '',\n    created:            d.created || null\n  };\n\n  return {\n    json: {\n      client_id:     CLIENT_ID,\n      ingested_at:   INGESTED_AT,\n      snapshot_date: SNAPSHOT_DATE,\n      ...row,\n      payload_json:  JSON.stringify(item.json)\n    }\n  };\n});\n"
      },
      "id": "a1000000-0000-0000-0000-000000000033",
      "name": "Transform snapshots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 960]
    },
    {
      "parameters": {
        "operation": "insert",
        "projectId": {
          "__rl": true,
          "value": "oneeighty-warehouse",
          "mode": "list",
          "cachedResultName": "oneeighty-warehouse"
        },
        "datasetId": {
          "__rl": true,
          "value": "raw",
          "mode": "list",
          "cachedResultName": "raw"
        },
        "tableId": {
          "__rl": true,
          "value": "raw_ecomail_lists",
          "mode": "list",
          "cachedResultName": "raw_ecomail_lists"
        },
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000034",
      "name": "BQ: insert lists",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [-80, 960]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 6 hours": {
      "main": [
        [
          { "node": "GET campaigns/all-stats", "type": "main", "index": 0 },
          { "node": "GET pipelines",            "type": "main", "index": 0 },
          { "node": "GET lists",                "type": "main", "index": 0 }
        ]
      ]
    },
    "GET campaigns/all-stats": {
      "main": [[ { "node": "Transform campaigns", "type": "main", "index": 0 } ]]
    },
    "Transform campaigns": {
      "main": [[ { "node": "BQ: insert campaigns", "type": "main", "index": 0 } ]]
    },
    "GET pipelines": {
      "main": [[ { "node": "Extract pipeline IDs", "type": "main", "index": 0 } ]]
    },
    "Extract pipeline IDs": {
      "main": [[ { "node": "GET pipeline stats", "type": "main", "index": 0 } ]]
    },
    "GET pipeline stats": {
      "main": [[ { "node": "Transform pipeline stats", "type": "main", "index": 0 } ]]
    },
    "Transform pipeline stats": {
      "main": [[ { "node": "Merge pipeline info + stats", "type": "main", "index": 0 } ]]
    },
    "Merge pipeline info + stats": {
      "main": [[ { "node": "Filter empty pipeline_id", "type": "main", "index": 0 } ]]
    },
    "Filter empty pipeline_id": {
      "main": [[ { "node": "BQ: insert automations", "type": "main", "index": 0 } ]]
    },
    "GET lists": {
      "main": [[ { "node": "Extract list IDs", "type": "main", "index": 0 } ]]
    },
    "Extract list IDs": {
      "main": [[ { "node": "GET list detail", "type": "main", "index": 0 } ]]
    },
    "GET list detail": {
      "main": [[ { "node": "Transform snapshots", "type": "main", "index": 0 } ]]
    },
    "Transform snapshots": {
      "main": [[ { "node": "BQ: insert lists", "type": "main", "index": 0 } ]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": []
}
