infra/n8n/wf_facebook_organic_to_bigquery.json
{
  "name": "wf_facebook_organic_to_bigquery",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "45 */6 * * *" } ] } },
      "id": "f0000000-0000-0000-0000-000000000001",
      "name": "Every 6h :45",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-2000, 480]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "sqlQuery": "SELECT client_id, slug\nFROM `oneeighty-warehouse.ref.clients`\nWHERE status='active' AND has_meta=TRUE",
        "options": {}
      },
      "id": "f0000000-0000-0000-0000-000000000002",
      "name": "Read active FB clients",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [-1760, 480]
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "f0000000-0000-0000-0000-000000000003",
      "name": "Loop over clients",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-1520, 480]
    },

    {
      "parameters": {
        "url": "=https://secretmanager.googleapis.com/v1/projects/oneeighty-warehouse/secrets/meta-{{ $json.slug }}-access-token/versions/latest:access",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "f0000000-0000-0000-0000-000000000010",
      "name": "Get access_token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1280, 480]
    },
    {
      "parameters": {
        "url": "=https://secretmanager.googleapis.com/v1/projects/oneeighty-warehouse/secrets/meta-{{ $('Loop over clients').item.json.slug }}-fb-page-id/versions/latest:access",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "f0000000-0000-0000-0000-000000000011",
      "name": "Get fb_page_id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1040, 480]
    },
    {
      "parameters": {
        "jsCode": "const decode = b64 => Buffer.from(b64, 'base64').toString('utf8').trim();\nconst accessToken = decode($('Get access_token').first().json.payload.data);\nconst pageId = decode($('Get fb_page_id').first().json.payload.data);\nconst client = $('Loop over clients').item.json;\nreturn [{ json: {\n  client_id: client.client_id, slug: client.slug,\n  access_token: accessToken, fb_page_id: pageId, api_version: 'v22.0'\n}}];\n"
      },
      "id": "f0000000-0000-0000-0000-000000000013",
      "name": "Decode secrets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 480]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "sqlQuery": "SELECT\n  CAST(UNIX_SECONDS(\n    COALESCE(\n      TIMESTAMP_SUB(MAX(created_at), INTERVAL 1 DAY),\n      TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 90 DAY)\n    )\n  ) AS STRING) AS since_unix\nFROM `oneeighty-warehouse.raw.raw_facebook_posts`\nWHERE client_id = '{{ $json.client_id }}'\n  AND created_at >= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 90 DAY)",
        "options": {}
      },
      "id": "f0000000-0000-0000-0000-000000000020",
      "name": "Watermark posts",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [-560, 480]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/{{ $('Decode secrets').item.json.api_version }}/{{ $('Decode secrets').item.json.fb_page_id }}/posts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields",       "value": "id,message,created_time,permalink_url,attachments" },
            { "name": "since",        "value": "={{ $json.since_unix }}" },
            { "name": "limit",        "value": "100" },
            { "name": "access_token", "value": "={{ $('Decode secrets').item.json.access_token }}" }
          ]
        },
        "options": {
          "retry": { "retry": { "maxTries": 5, "waitBetweenTries": 2000 } }
        }
      },
      "id": "f0000000-0000-0000-0000-000000000021",
      "name": "Fetch posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-320, 480]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Decode secrets').first().json;\nconst CLIENT_ID = ctx.client_id;\nconst PAGE_ID  = ctx.fb_page_id;\nconst INGESTED_AT = new Date().toISOString();\n\n// Handle BOTH shapes: wrapped { data: [...] } OR each item is a post row\nconst all = [];\nfor (const it of $input.all()) {\n  const j = it.json;\n  if (Array.isArray(j.data)) {\n    for (const r of j.data) all.push(r);\n  } else if (j.id && (j.message !== undefined || j.created_time)) {\n    all.push(j);\n  }\n}\n\nreturn all.map(r => {\n  const att = r.attachments?.data?.[0] ?? null;\n  return { json: {\n    client_id: CLIENT_ID,\n    ingested_at: INGESTED_AT,\n    ingest_source: 'cron',\n    page_id: PAGE_ID,\n    post_id: String(r.id),\n    message: r.message ?? '',\n    created_at: r.created_time ?? null,\n    permalink_url: r.permalink_url ?? '',\n    attachment_type:       att?.type ?? null,\n    attachment_target_id:  att?.target?.id ?? null,\n    attachment_target_url: att?.target?.url ?? null,\n    attachment_image_url:  att?.media?.image?.src ?? null,\n    attachment_video_url:  att?.media?.source ?? null,\n    payload_json: JSON.stringify(r)\n  }};\n});\n"
      },
      "id": "f0000000-0000-0000-0000-000000000022",
      "name": "Transform posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-80, 480]
    },
    {
      "parameters": {
        "operation": "insert",
        "projectId": { "__rl": true, "value": "oneeighty-warehouse", "mode": "list" },
        "datasetId": { "__rl": true, "value": "raw",                 "mode": "list" },
        "tableId":   { "__rl": true, "value": "raw_facebook_posts",  "mode": "list" },
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "id": "f0000000-0000-0000-0000-000000000023",
      "name": "BQ: insert posts",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [160, 480]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 6h :45":             { "main": [[ { "node": "Read active FB clients", "type": "main", "index": 0 } ]] },
    "Read active FB clients":   { "main": [[ { "node": "Loop over clients",      "type": "main", "index": 0 } ]] },
    "Loop over clients":        { "main": [[ { "node": "Get access_token",       "type": "main", "index": 0 } ]] },
    "Get access_token":         { "main": [[ { "node": "Get fb_page_id",         "type": "main", "index": 0 } ]] },
    "Get fb_page_id":           { "main": [[ { "node": "Decode secrets",         "type": "main", "index": 0 } ]] },
    "Decode secrets":           { "main": [[ { "node": "Watermark posts",        "type": "main", "index": 0 } ]] },
    "Watermark posts":          { "main": [[ { "node": "Fetch posts",            "type": "main", "index": 0 } ]] },
    "Fetch posts":              { "main": [[ { "node": "Transform posts",        "type": "main", "index": 0 } ]] },
    "Transform posts":          { "main": [[ { "node": "BQ: insert posts",       "type": "main", "index": 0 } ]] },
    "BQ: insert posts":         { "main": [[ { "node": "Loop over clients",      "type": "main", "index": 0 } ]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner" },
  "tags": []
}
