infra/n8n/wf_instagram_to_bigquery.json
{
  "name": "wf_instagram_to_bigquery",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "30 */6 * * *" } ] } },
      "id": "e0000000-0000-0000-0000-000000000001",
      "name": "Every 6h :30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1700, 480]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "sqlQuery": "SELECT client_id, slug, timezone\nFROM `oneeighty-warehouse.ref.clients`\nWHERE status='active' AND has_instagram=TRUE",
        "options": {}
      },
      "id": "e0000000-0000-0000-0000-000000000002",
      "name": "Read active IG clients",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [-1460, 480]
    },
    { "parameters": { "batchSize": 1, "options": {} }, "id": "e0000000-0000-0000-0000-000000000003", "name": "Loop over clients", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [-1220, 480] },

    {
      "parameters": {
        "url": "=https://secretmanager.googleapis.com/v1/projects/oneeighty-warehouse/secrets/meta-{{ $json.slug }}-access-token/versions/latest:access",
        "authentication": "predefinedCredentialType", "nodeCredentialType": "googleApi", "options": {}
      },
      "id": "e0000000-0000-0000-0000-000000000010",
      "name": "Get access_token",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-980, 360]
    },
    {
      "parameters": {
        "url": "=https://secretmanager.googleapis.com/v1/projects/oneeighty-warehouse/secrets/meta-{{ $('Loop over clients').item.json.slug }}-ig-business-id/versions/latest:access",
        "authentication": "predefinedCredentialType", "nodeCredentialType": "googleApi", "options": {}
      },
      "id": "e0000000-0000-0000-0000-000000000011",
      "name": "Get ig_business_id",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-980, 600]
    },
    {
      "parameters": {
        "jsCode": "const decode = b64 => Buffer.from(b64, 'base64').toString('utf8').trim();\nconst accessToken = decode($('Get access_token').first().json.payload.data);\nconst igId = decode($('Get ig_business_id').first().json.payload.data);\nconst client = $('Loop over clients').item.json;\nreturn [{ json: {\n  client_id: client.client_id, slug: client.slug,\n  access_token: accessToken, ig_business_id: igId, api_version: 'v22.0'\n}}];\n"
      },
      "id": "e0000000-0000-0000-0000-000000000013",
      "name": "Decode secrets",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-740, 480]
    },

    {
      "parameters": {
        "url": "=https://graph.facebook.com/{{ $json.api_version }}/{{ $json.ig_business_id }}/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields", "value": "id,caption,media_type,media_url,permalink,timestamp,like_count,comments_count,insights.metric(reach,saved,shares,ig_reels_avg_watch_time,ig_reels_video_view_total_time,total_interactions)" },
            { "name": "limit", "value": "100" },
            { "name": "access_token", "value": "={{ $json.access_token }}" }
          ]
        },
        "options": {
          "pagination": { "pagination": { "paginationMode": "responseHeaderLink", "limitPagesFetched": false } },
          "retry": { "retry": { "maxTries": 5, "waitBetweenTries": 2000 } }
        }
      },
      "id": "e0000000-0000-0000-0000-000000000020",
      "name": "Fetch media",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-500, 360]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Decode secrets').first().json;\nconst CLIENT_ID = ctx.client_id;\nconst IG_ID    = ctx.ig_business_id;\nconst INGESTED_AT = new Date().toISOString();\nconst num = v => (v === null || v === undefined || v === '' ? null : Number(v));\nconst pickInsight = (insights, name) => {\n  if (!insights || !Array.isArray(insights.data)) return null;\n  const row = insights.data.find(d => d.name === name);\n  if (!row) return null;\n  const v = row.values?.[0]?.value;\n  return v === undefined ? null : Number(v);\n};\nconst all = [];\nfor (const it of $input.all()) {\n  for (const r of (it.json.data || [])) all.push(r);\n}\nreturn all.map(r => ({ json: {\n  client_id: CLIENT_ID,\n  ingested_at: INGESTED_AT,\n  ingest_source: 'cron',\n  ig_business_id: IG_ID,\n  media_id: String(r.id),\n  media_type: r.media_type ?? '',\n  caption: r.caption ?? '',\n  media_url: r.media_url ?? '',\n  permalink: r.permalink ?? '',\n  posted_at: r.timestamp ?? null,\n  like_count: num(r.like_count),\n  comments_count: num(r.comments_count),\n  reach:       pickInsight(r.insights, 'reach'),\n  impressions: pickInsight(r.insights, 'impressions'),\n  saved:       pickInsight(r.insights, 'saved'),\n  shares:      pickInsight(r.insights, 'shares'),\n  ig_reels_avg_watch_time_ms:        pickInsight(r.insights, 'ig_reels_avg_watch_time'),\n  ig_reels_video_view_total_time_ms: pickInsight(r.insights, 'ig_reels_video_view_total_time'),\n  total_interactions:                pickInsight(r.insights, 'total_interactions'),\n  payload_json: JSON.stringify(r)\n}}));\n"
      },
      "id": "e0000000-0000-0000-0000-000000000021",
      "name": "Transform media",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-260, 360]
    },
    {
      "parameters": {
        "operation": "insert",
        "projectId": { "__rl": true, "value": "oneeighty-warehouse", "mode": "list" },
        "datasetId": { "__rl": true, "value": "raw",                 "mode": "list" },
        "tableId":   { "__rl": true, "value": "raw_instagram_media", "mode": "list" },
        "dataMode": "autoMapInputData", "options": {}
      },
      "id": "e0000000-0000-0000-0000-000000000022",
      "name": "BQ: insert media",
      "type": "n8n-nodes-base.googleBigQuery", "typeVersion": 2.1, "position": [-20, 360]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "sqlQuery": "SELECT\n  CAST(UNIX_SECONDS(\n    COALESCE(\n      TIMESTAMP(DATE_ADD(MAX(metric_date), INTERVAL 1 DAY)),\n      TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 90 DAY)\n    )\n  ) AS STRING) AS since_unix,\n  CAST(UNIX_SECONDS(CURRENT_TIMESTAMP()) AS STRING) AS until_unix\nFROM `oneeighty-warehouse.raw.raw_instagram_account_insights`\nWHERE client_id = '{{ $('Decode secrets').item.json.client_id }}'\n  AND metric_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 90 DAY)",
        "options": {}
      },
      "id": "e0000000-0000-0000-0000-000000000030",
      "name": "Watermark account insights",
      "type": "n8n-nodes-base.googleBigQuery", "typeVersion": 2.1, "position": [-500, 600]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/{{ $('Decode secrets').item.json.api_version }}/{{ $('Decode secrets').item.json.ig_business_id }}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "metric",        "value": "reach,follower_count" },
            { "name": "period",        "value": "day" },
            { "name": "since",         "value": "={{ $json.since_unix }}" },
            { "name": "until",         "value": "={{ $json.until_unix }}" },
            { "name": "access_token",  "value": "={{ $('Decode secrets').item.json.access_token }}" }
          ]
        },
        "options": { "retry": { "retry": { "maxTries": 5, "waitBetweenTries": 2000 } } }
      },
      "id": "e0000000-0000-0000-0000-000000000031",
      "name": "Fetch account insights",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-260, 600]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Decode secrets').first().json;\nconst CLIENT_ID = ctx.client_id;\nconst IG_ID    = ctx.ig_business_id;\nconst INGESTED_AT = new Date().toISOString();\nconst rows = [];\nfor (const it of $input.all()) {\n  for (const metric of (it.json.data || [])) {\n    for (const v of (metric.values || [])) {\n      const dt = v.end_time ? v.end_time.slice(0, 10) : null;\n      rows.push({\n        client_id: CLIENT_ID,\n        ingested_at: INGESTED_AT,\n        ingest_source: 'cron',\n        ig_business_id: IG_ID,\n        metric_date: dt,\n        metric_name: metric.name,\n        metric_value: Number(v.value ?? 0),\n        payload_json: JSON.stringify({ metric: metric.name, period: metric.period, value: v })\n      });\n    }\n  }\n}\nreturn rows.map(r => ({ json: r }));\n"
      },
      "id": "e0000000-0000-0000-0000-000000000032",
      "name": "Transform account insights",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-20, 600]
    },
    {
      "parameters": {
        "operation": "insert",
        "projectId": { "__rl": true, "value": "oneeighty-warehouse", "mode": "list" },
        "datasetId": { "__rl": true, "value": "raw",                 "mode": "list" },
        "tableId":   { "__rl": true, "value": "raw_instagram_account_insights", "mode": "list" },
        "dataMode": "autoMapInputData", "options": {}
      },
      "id": "e0000000-0000-0000-0000-000000000033",
      "name": "BQ: insert account insights",
      "type": "n8n-nodes-base.googleBigQuery", "typeVersion": 2.1, "position": [220, 600]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 6h :30":            { "main": [[ { "node": "Read active IG clients", "type": "main", "index": 0 } ]] },
    "Read active IG clients":  { "main": [[ { "node": "Loop over clients",      "type": "main", "index": 0 } ]] },
    "Loop over clients": {
      "main": [[
        { "node": "Get access_token",    "type": "main", "index": 0 },
        { "node": "Get ig_business_id",  "type": "main", "index": 0 }
      ]]
    },
    "Get access_token":   { "main": [[ { "node": "Decode secrets", "type": "main", "index": 0 } ]] },
    "Get ig_business_id": { "main": [[ { "node": "Decode secrets", "type": "main", "index": 0 } ]] },
    "Decode secrets": {
      "main": [[
        { "node": "Fetch media",                "type": "main", "index": 0 },
        { "node": "Watermark account insights", "type": "main", "index": 0 }
      ]]
    },
    "Fetch media":                 { "main": [[ { "node": "Transform media",            "type": "main", "index": 0 } ]] },
    "Transform media":             { "main": [[ { "node": "BQ: insert media",           "type": "main", "index": 0 } ]] },
    "BQ: insert media":            { "main": [[ { "node": "Loop over clients",          "type": "main", "index": 0 } ]] },
    "Watermark account insights":  { "main": [[ { "node": "Fetch account insights",     "type": "main", "index": 0 } ]] },
    "Fetch account insights":      { "main": [[ { "node": "Transform account insights", "type": "main", "index": 0 } ]] },
    "Transform account insights":  { "main": [[ { "node": "BQ: insert account insights","type": "main", "index": 0 } ]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner" },
  "tags": []
}
