infra/n8n/wf_klaviyo_to_bigquery.json
{
  "name": "wf_klaviyo_to_bigquery",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "20 */6 * * *" } ] } },
      "id": "g0000000-0000-0000-0000-000000000001",
      "name": "Every 6h :20",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-2000, 480]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "sqlQuery": "SELECT client_id, slug, currency\nFROM `oneeighty-warehouse.ref.clients`\nWHERE status='active' AND has_klaviyo=TRUE",
        "options": {}
      },
      "id": "g0000000-0000-0000-0000-000000000002",
      "name": "Read active Klaviyo clients",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [-1760, 480]
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "g0000000-0000-0000-0000-000000000003",
      "name": "Loop over clients",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-1520, 480]
    },

    {
      "parameters": {
        "url": "=https://secretmanager.googleapis.com/v1/projects/oneeighty-warehouse/secrets/klaviyo-{{ $json.slug }}-api-key/versions/latest:access",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "g0000000-0000-0000-0000-000000000010",
      "name": "Get api_key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1280, 480]
    },
    {
      "parameters": {
        "url": "=https://secretmanager.googleapis.com/v1/projects/oneeighty-warehouse/secrets/klaviyo-{{ $('Loop over clients').item.json.slug }}-region/versions/latest:access",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "g0000000-0000-0000-0000-000000000011",
      "name": "Get region",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1040, 480]
    },
    {
      "parameters": {
        "jsCode": "const decode = b64 => Buffer.from(b64, 'base64').toString('utf8').trim();\nconst apiKey = decode($('Get api_key').first().json.payload.data);\nconst region = decode($('Get region').first().json.payload.data) || 'us';\nconst client = $('Loop over clients').item.json;\nconst base = region === 'eu' ? 'https://a.klaviyo.com/api' : 'https://a.klaviyo.com/api';\n// Note: Klaviyo's API is the same URL for US and EU as of 2024-10+; region kept for future-proofing.\nreturn [{ json: {\n  client_id: client.client_id,\n  slug: client.slug,\n  currency: client.currency,\n  api_key: apiKey,\n  region: region,\n  api_base: base,\n  revision: '2024-10-15'\n}}];\n"
      },
      "id": "g0000000-0000-0000-0000-000000000013",
      "name": "Decode secrets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 480]
    },

    {
      "parameters": {
        "url": "=https://a.klaviyo.com/api/campaigns/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "filter", "value": "equals(messages.channel,'email')" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Klaviyo-API-Key {{ $('Decode secrets').item.json.api_key }}" },
            { "name": "revision",      "value": "=2024-10-15" },
            { "name": "accept",        "value": "application/json" }
          ]
        },
        "options": { "retry": { "retry": { "maxTries": 5, "waitBetweenTries": 2000 } } }
      },
      "id": "g0000000-0000-0000-0000-000000000020",
      "name": "Fetch campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-560, 480]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Decode secrets').first().json;\nconst CLIENT_ID = ctx.client_id;\nconst CURRENCY = ctx.currency || 'USD';\nconst INGESTED_AT = new Date().toISOString();\nconst num = v => (v === null || v === undefined || v === '' ? null : Number(v));\nconst fmtTs = s => {\n  if (!s) return null;\n  const d = new Date(s);\n  if (isNaN(d.getTime())) return null;\n  return d.toISOString().replace('T', ' ').replace(/\\.\\d+Z$/, '').replace('Z', '');\n};\n\n// Klaviyo response shape: { data: [ { id, attributes: {...}, relationships: {...} } ], links: {...} }\nconst all = [];\nfor (const it of $input.all()) {\n  const j = it.json;\n  if (Array.isArray(j.data)) {\n    for (const r of j.data) all.push(r);\n  } else if (j.id && j.attributes) {\n    all.push(j);\n  }\n}\n\nreturn all.map(r => {\n  const a = r.attributes ?? {};\n  return { json: {\n    client_id: CLIENT_ID,\n    ingested_at: INGESTED_AT,\n    campaign_id: String(r.id),\n    campaign_name: a.name ?? '',\n    channel: 'email',\n    status: a.status ?? '',\n    send_time: fmtTs(a.send_time),\n    list_id: '',\n    list_name: '',\n    segment_id: '',\n    recipients: num(a.recipients_count),\n    delivered: num(a.delivered),\n    bounces: num(a.bounces),\n    opens: num(a.opens),\n    unique_opens: num(a.unique_opens),\n    open_rate: num(a.open_rate),\n    clicks: num(a.clicks),\n    unique_clicks: num(a.unique_clicks),\n    click_rate: num(a.click_rate),\n    unsubscribes: num(a.unsubscribes),\n    spam_complaints: num(a.spam_complaints),\n    conversions: num(a.conversions),\n    revenue: num(a.revenue),\n    currency: CURRENCY,\n    payload_json: JSON.stringify(r)\n  }};\n});\n"
      },
      "id": "g0000000-0000-0000-0000-000000000021",
      "name": "Transform campaigns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 480]
    },
    {
      "parameters": {
        "operation": "insert",
        "projectId": { "__rl": true, "value": "oneeighty-warehouse", "mode": "list" },
        "datasetId": { "__rl": true, "value": "raw",                 "mode": "list" },
        "tableId":   { "__rl": true, "value": "raw_klaviyo_campaigns", "mode": "list" },
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "id": "g0000000-0000-0000-0000-000000000022",
      "name": "BQ: insert campaigns",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [-80, 480]
    },

    {
      "parameters": {
        "url": "=https://a.klaviyo.com/api/flows/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Klaviyo-API-Key {{ $('Decode secrets').item.json.api_key }}" },
            { "name": "revision",      "value": "=2024-10-15" },
            { "name": "accept",        "value": "application/json" }
          ]
        },
        "options": { "retry": { "retry": { "maxTries": 5, "waitBetweenTries": 2000 } } }
      },
      "id": "g0000000-0000-0000-0000-000000000030",
      "name": "Fetch flows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [160, 480]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Decode secrets').first().json;\nconst CLIENT_ID = ctx.client_id;\nconst CURRENCY = ctx.currency || 'USD';\nconst INGESTED_AT = new Date().toISOString();\nconst SNAPSHOT_DATE = INGESTED_AT.slice(0, 10);\nconst num = v => (v === null || v === undefined || v === '' ? null : Number(v));\n\nconst all = [];\nfor (const it of $input.all()) {\n  const j = it.json;\n  if (Array.isArray(j.data)) {\n    for (const r of j.data) all.push(r);\n  } else if (j.id && j.attributes) {\n    all.push(j);\n  }\n}\n\nreturn all.map(r => {\n  const a = r.attributes ?? {};\n  return { json: {\n    client_id: CLIENT_ID,\n    ingested_at: INGESTED_AT,\n    snapshot_date: SNAPSHOT_DATE,\n    flow_id: String(r.id),\n    flow_name: a.name ?? '',\n    status: a.status ?? '',\n    trigger_type: a.trigger_type ?? '',\n    metric_type: 'cumulative',\n    emails_sent: num(a.emails_sent),\n    delivered: num(a.delivered),\n    opens: num(a.opens),\n    unique_opens: num(a.unique_opens),\n    open_rate: num(a.open_rate),\n    clicks: num(a.clicks),\n    unique_clicks: num(a.unique_clicks),\n    click_rate: num(a.click_rate),\n    conversions: num(a.conversions),\n    revenue: num(a.revenue),\n    currency: CURRENCY,\n    payload_json: JSON.stringify(r)\n  }};\n});\n"
      },
      "id": "g0000000-0000-0000-0000-000000000031",
      "name": "Transform flows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 480]
    },
    {
      "parameters": {
        "operation": "insert",
        "projectId": { "__rl": true, "value": "oneeighty-warehouse", "mode": "list" },
        "datasetId": { "__rl": true, "value": "raw",                 "mode": "list" },
        "tableId":   { "__rl": true, "value": "raw_klaviyo_flows", "mode": "list" },
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "id": "g0000000-0000-0000-0000-000000000032",
      "name": "BQ: insert flows",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [640, 480]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 6h :20":              { "main": [[ { "node": "Read active Klaviyo clients", "type": "main", "index": 0 } ]] },
    "Read active Klaviyo clients":{ "main": [[ { "node": "Loop over clients",          "type": "main", "index": 0 } ]] },
    "Loop over clients":         { "main": [[ { "node": "Get api_key",                "type": "main", "index": 0 } ]] },
    "Get api_key":               { "main": [[ { "node": "Get region",                 "type": "main", "index": 0 } ]] },
    "Get region":                { "main": [[ { "node": "Decode secrets",             "type": "main", "index": 0 } ]] },
    "Decode secrets":            { "main": [[ { "node": "Fetch campaigns",            "type": "main", "index": 0 } ]] },
    "Fetch campaigns":           { "main": [[ { "node": "Transform campaigns",        "type": "main", "index": 0 } ]] },
    "Transform campaigns":       { "main": [[ { "node": "BQ: insert campaigns",       "type": "main", "index": 0 } ]] },
    "BQ: insert campaigns":      { "main": [[ { "node": "Fetch flows",                "type": "main", "index": 0 } ]] },
    "Fetch flows":               { "main": [[ { "node": "Transform flows",            "type": "main", "index": 0 } ]] },
    "Transform flows":           { "main": [[ { "node": "BQ: insert flows",           "type": "main", "index": 0 } ]] },
    "BQ: insert flows":          { "main": [[ { "node": "Loop over clients",          "type": "main", "index": 0 } ]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner" },
  "tags": []
}
