infra/n8n/wf_shopify_to_bigquery.json
{
  "name": "wf_shopify_to_bigquery",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 10 * * *" }
          ]
        }
      },
      "id": "c1000000-0000-0000-0000-000000000001",
      "name": "Daily 10:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1600, 480]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "sqlQuery": "SELECT client_id, slug, currency, timezone, country\nFROM `oneeighty-warehouse.ref.clients`\nWHERE status='active' AND has_shopify=TRUE",
        "options": {}
      },
      "id": "c1000000-0000-0000-0000-000000000002",
      "name": "Read active Shopify clients",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [-1360, 480]
    },

    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "c1000000-0000-0000-0000-000000000003",
      "name": "Loop over clients",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-1120, 480]
    },

    {
      "parameters": {
        "url": "=https://secretmanager.googleapis.com/v1/projects/oneeighty-warehouse/secrets/shopify-{{ $json.slug }}-shop-domain/versions/latest:access",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "c1000000-0000-0000-0000-000000000010",
      "name": "Get shop_domain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-880, 320]
    },
    {
      "parameters": {
        "url": "=https://secretmanager.googleapis.com/v1/projects/oneeighty-warehouse/secrets/shopify-{{ $('Loop over clients').item.json.slug }}-access-token/versions/latest:access",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "c1000000-0000-0000-0000-000000000011",
      "name": "Get access_token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-880, 480]
    },
    {
      "parameters": {
        "url": "=https://secretmanager.googleapis.com/v1/projects/oneeighty-warehouse/secrets/shopify-{{ $('Loop over clients').item.json.slug }}-api-version/versions/latest:access",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "c1000000-0000-0000-0000-000000000012",
      "name": "Get api_version",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-880, 640]
    },

    {
      "parameters": {
        "jsCode": "// Secret Manager returns { payload: { data: '<base64>' } }\nconst decode = b64 => Buffer.from(b64, 'base64').toString('utf8').trim();\n\nconst shopDomain  = decode($('Get shop_domain').first().json.payload.data);\nconst accessToken = decode($('Get access_token').first().json.payload.data);\nconst apiVersion  = decode($('Get api_version').first().json.payload.data) || '2025-01';\n\nconst client = $('Loop over clients').item.json;\n\nreturn [{\n  json: {\n    client_id:    client.client_id,\n    slug:         client.slug,\n    currency:     client.currency,\n    timezone:     client.timezone,\n    country:      client.country,\n    shop_domain:  shopDomain,\n    access_token: accessToken,\n    api_version:  apiVersion\n  }\n}];\n"
      },
      "id": "c1000000-0000-0000-0000-000000000013",
      "name": "Decode secrets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-640, 480]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "sqlQuery": "SELECT\n  COALESCE(\n    FORMAT_TIMESTAMP('%Y-%m-%dT%H:%M:%S%Ez',\n      TIMESTAMP_SUB(MAX(updated_at), INTERVAL 1 DAY)),\n    FORMAT_TIMESTAMP('%Y-%m-%dT%H:%M:%S%Ez',\n      TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 24 MONTH))\n  ) AS updated_at_min\nFROM `oneeighty-warehouse.raw.raw_shopify_orders`\nWHERE client_id = '{{ $json.client_id }}'\n  AND order_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 24 MONTH)",
        "options": {}
      },
      "id": "c1000000-0000-0000-0000-000000000020",
      "name": "Watermark orders",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [-400, 480]
    },

    {
      "parameters": {
        "url": "=https://{{ $('Decode secrets').item.json.shop_domain }}/admin/api/{{ $('Decode secrets').item.json.api_version }}/orders.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status",         "value": "any" },
            { "name": "limit",          "value": "250" },
            { "name": "updated_at_min", "value": "={{ $json.updated_at_min }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Shopify-Access-Token", "value": "={{ $('Decode secrets').item.json.access_token }}" },
            { "name": "Accept",                 "value": "application/json" }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseHeaderLink",
              "nextURL": "",
              "limitPagesFetched": false
            }
          },
          "response": { "response": { "responseFormat": "json" } },
          "retry": { "retry": { "maxTries": 5, "waitBetweenTries": 2000 } }
        }
      },
      "id": "c1000000-0000-0000-0000-000000000021",
      "name": "Fetch orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-160, 480]
    },

    {
      "parameters": {
        "jsCode": "const ctx = $('Decode secrets').first().json;\nconst CLIENT_ID = ctx.client_id;\nconst INGESTED_AT = new Date().toISOString();\nconst num = v => (v === null || v === undefined || v === '' ? 0 : Number(v));\n\n// Each input item is one HTTP response with { orders: [...] }.\n// Flatten across all paginated responses.\nconst allOrders = [];\nfor (const item of $input.all()) {\n  const arr = item.json.orders ?? [];\n  for (const o of arr) allOrders.push(o);\n}\n\nreturn allOrders.map(o => ({\n  json: {\n    client_id:             CLIENT_ID,\n    ingested_at:           INGESTED_AT,\n    ingest_source:         'backfill',\n\n    order_id:              String(o.id),\n    order_number:          o.name ?? '',\n    order_date:            (o.processed_at || o.created_at || '').slice(0, 10),\n    created_at:            o.created_at || null,\n    updated_at:            o.updated_at || null,\n    processed_at:          o.processed_at || null,\n\n    currency:              o.currency || '',\n    presentment_currency:  o.presentment_currency || o.currency || '',\n    subtotal_price:        num(o.subtotal_price),\n    total_shipping:        num(o.total_shipping_price_set?.shop_money?.amount),\n    total_tax:             num(o.total_tax),\n    total_discounts:       num(o.total_discounts),\n    total_price:           num(o.total_price),\n\n    customer_id:           String(o.customer?.id ?? ''),\n    customer_email:        o.customer?.email ?? o.email ?? '',\n    is_returning_customer: Boolean((o.customer?.orders_count ?? 0) > 1),\n    shipping_country:      o.shipping_address?.country_code ?? '',\n    shipping_province:     o.shipping_address?.province_code ?? '',\n\n    financial_status:      o.financial_status ?? '',\n    fulfillment_status:    o.fulfillment_status ?? '',\n    cancelled_at:          o.cancelled_at || null,\n    source_name:           o.source_name ?? '',\n\n    line_items: (o.line_items ?? []).map(li => ({\n      line_item_id:       String(li.id),\n      product_id:         String(li.product_id ?? ''),\n      variant_id:         String(li.variant_id ?? ''),\n      sku:                li.sku ?? '',\n      title:              li.title ?? '',\n      quantity:           num(li.quantity),\n      price:              num(li.price),\n      total_discount:     num(li.total_discount),\n      fulfillment_status: li.fulfillment_status ?? null\n    })),\n\n    payload_json:          JSON.stringify(o)\n  }\n}));\n"
      },
      "id": "c1000000-0000-0000-0000-000000000022",
      "name": "Transform orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 480]
    },

    {
      "parameters": {
        "operation": "insert",
        "projectId": {
          "__rl": true,
          "value": "oneeighty-warehouse",
          "mode": "list",
          "cachedResultName": "oneeighty-warehouse"
        },
        "datasetId": {
          "__rl": true,
          "value": "raw",
          "mode": "list",
          "cachedResultName": "raw"
        },
        "tableId": {
          "__rl": true,
          "value": "raw_shopify_orders",
          "mode": "list",
          "cachedResultName": "raw_shopify_orders"
        },
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "id": "c1000000-0000-0000-0000-000000000023",
      "name": "BQ: insert orders",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [320, 480]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "sqlQuery": "INSERT INTO `oneeighty-warehouse.ops.pipeline_log`\n  (run_id, workflow, client_id, source, started_at, finished_at, status, trigger)\nVALUES (\n  '{{ $execution.id }}',\n  'wf_shopify',\n  '{{ $('Decode secrets').item.json.client_id }}',\n  'shopify',\n  TIMESTAMP('{{ $execution.startedAt }}'),\n  CURRENT_TIMESTAMP(),\n  'success',\n  'cron'\n)",
        "options": {}
      },
      "id": "c1000000-0000-0000-0000-000000000024",
      "name": "Log success",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [560, 480]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 10:00 UTC": {
      "main": [[ { "node": "Read active Shopify clients", "type": "main", "index": 0 } ]]
    },
    "Read active Shopify clients": {
      "main": [[ { "node": "Loop over clients", "type": "main", "index": 0 } ]]
    },
    "Loop over clients": {
      "main": [
        [
          { "node": "Get shop_domain",  "type": "main", "index": 0 },
          { "node": "Get access_token", "type": "main", "index": 0 },
          { "node": "Get api_version",  "type": "main", "index": 0 }
        ]
      ]
    },
    "Get shop_domain":  { "main": [[ { "node": "Decode secrets", "type": "main", "index": 0 } ]] },
    "Get access_token": { "main": [[ { "node": "Decode secrets", "type": "main", "index": 0 } ]] },
    "Get api_version":  { "main": [[ { "node": "Decode secrets", "type": "main", "index": 0 } ]] },
    "Decode secrets": {
      "main": [[ { "node": "Watermark orders", "type": "main", "index": 0 } ]]
    },
    "Watermark orders": {
      "main": [[ { "node": "Fetch orders", "type": "main", "index": 0 } ]]
    },
    "Fetch orders": {
      "main": [[ { "node": "Transform orders", "type": "main", "index": 0 } ]]
    },
    "Transform orders": {
      "main": [[ { "node": "BQ: insert orders", "type": "main", "index": 0 } ]]
    },
    "BQ: insert orders": {
      "main": [[ { "node": "Log success", "type": "main", "index": 0 } ]]
    },
    "Log success": {
      "main": [[ { "node": "Loop over clients", "type": "main", "index": 0 } ]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": []
}
